body{
    display: flex;
    justify-content: center;
    background-color: #fbeae2;
}

main{
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 70px;
    width: 400px;
    background-color: #B3E7F2;
    align-items: center;
    border-radius: 20px;
}

.Register{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #6ba6ca;
    padding: 20px;
    border-radius: 20px;
}

.Login{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #6ba6ca;
    padding: 20px;
    border-radius: 20px;
}

.try-gif{
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    background-color: #6ba6ca;
    padding: 20px;
    border-radius: 20px;
} 

#gif {
    background-color: #6ba6ca;
    padding: 20px;
    border-radius: 20px;
}
#gif img {
    width: 200px;
    height: auto;
    background-color: pink;
}

.save-Gif{
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    background-color: #6ba6ca;
    padding: 20px;
    border-radius: 20px;
}

.delete-Gif{
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    background-color: #6ba6ca;
    padding: 20px;
    border-radius: 20px;
}


.gifUrlDiv {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    background-color: #6ba6ca;
    padding: 20px;
    border-radius: 20px;
}

h1{
    font-size: 16px;
    margin-bottom: 0;
}

input{
    width: 200px;
    height: 20px;
    border-radius: 2px;
    border: solid 2px #88D4F2;
}

input::placeholder {
    color: #3B9ABF;
    opacity: 40%;
}
button{
    width: 100px;
    background-color: rgb(249, 194, 203);
    height: 35px;
    border-radius: 10px;
    border: solid 2px #86b8cb;
}

#messageBox {
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 1000;
    background-color: #f8f0e3;
    border: 2px solid #6ba6ca;
    border-radius: 12px;
    padding: 15px 40px 15px 15px;
    color: #4a2d20;
    font-weight: bold;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: none;
    min-width: 200px;
    max-width: 300px;
    transition: opacity 0.3s ease;
}

#closeMessageBtn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    color: #6d4e3d;
    font-size: 18px;
    font-weight: bold;
}