body{
    display: flex;
    justify-content: center;
    background-color: #fbeae2;
}

main{
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 70px;
    width: 400px;
    background-color: #B3E7F2;
    align-items: center;
    border-radius: 20px;
}