:root{
    --text-color: #ffffff;
    --text-color2: #F8ABB3;
    --background-color: #fb90ad67;
    --background-color2: #E6BCC6;
    --border-color: #ffffff;
    --text-size-h1: 80px;
    --text-size-h2: 24px;
    --text-size-h3: 20px;
    --text-style: "jaro";
}

@font-face {
    font-family: "jaro" ;
    src: url(./Font/Jaro/Jaro-Regular-VariableFont_opsz.ttf);
}

@font-face {
    font-family: "josefin" ;
    src: url(./Font/Josefin_Slab/JosefinSlab-VariableFont_wght.ttf);
}

body{
    background-image: url(./Font/Images/Gemini_Generated_Image_igpahgigpahgigpa.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    height: 100vh;
}

#popup-picture{
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
    display: flex;
    gap: 100px;
    border-radius: 20px;
    border: 2px solid var(--border-color);
}

#popup{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--background-color);
    display: none;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#login, #register {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}

#border-line{
    border-right: 1px solid white;
}

h2{
    font-family: "jaro";
    color: var(--text-color);
    font-size: 35px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--text-color2);
}

input{
    height: 30px;
    width: 250px;
    border-radius: 10px;
}

button{
    background-color: var(--background-color);
    border: 2px solid var(--border-color);
    border-radius: 20px;
    width: 150px;
    height: 40px;
    font-family: "jaro";
    color: var(--text-color2);
    font-size: var(--text-size-h3);
}

button:hover{
    background-color: var(--background-color2);
}

header{
    display: flex;
    justify-content: flex-end;
    margin-left: 40px;
    margin-right: 40px;
    color: var(--text-color);
    align-items: center;
    font-family: "josefin" ;
    font-size: var(--text-size-h3);
    font-weight: bold;
}

#section-1{
    display: flex;
    flex-direction: column;
    margin: 30px;
    margin-top: 0;
}

#location-part{
    display: flex;
    gap: 20px;
    align-items: center;
}

#location{
    font-family: "jaro";
    font-size:var(--text-size-h1);
    margin: 0;
    margin-bottom: 10px;
    color: var(--text-color2);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

#compass {
    color: var(--text-color2);
    font-size:var(--text-size-h2);


}

#section-2{
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    margin-left: 40px;
    color: var(--text-color);
    font-family: "josefin" ;
    font-size: var(--text-size-h3);
    align-items: center; 

}

#week-part {
    display: flex;
    align-items: center;
    gap: 10px; 
}

#arrow {
    width: 20px;  
    height: auto;
    object-fit: contain;
    margin-bottom: 2px; /* justera position om den fortfarande sticker ut lite */
}

#section-2 h3{
    margin-top: 0;
}

#clickPart {
    display: flex;
    align-items: center;
    gap: 6px;
}

#clicky {
    width: 40px;  
    height: auto;
    object-fit: contain;
    margin-bottom: 2px;
}

#section-3{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-around;
}

.card{
    border: 3px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--background-color);
    padding: 40px;
    height: 350px;
    width: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.card p {
    font-family: "jaro";
    color: var(--text-color);
    font-size:var(--text-size-h3) ;
    text-align: center;
}

.weatherEmoji{
    width: 80px;
    height: 100px;
    background-color: purple;
}

.weatherGIF{
    width: 80px;
    height: 100px;
    background-color: purple;
}
